{% extends 'layouts/base.twig' %}

{% block content %}
<h1>{{ partner.name }}</h1>
<p><strong>Компания: </strong> {{ partner.company }}</p>
<p><strong>О себе: </strong>{{ partner.desc }}</p>
<a href="/partners" class="btn-primary">Назад к списку партнёров</a>
{% endblock %}