{% extends 'layouts/base.twig' %}

{% block content %}
<h1>{{ portfolio.name }}</h1>
<p><strong>Сайт: </strong><a href="{{ portfolio.site }}">{{ portfolio.site }}</a></p>
<p><strong>Описание: </strong>{{ portfolio.desc }}</p>
<a href="/portfolios" class="btn-primary">Назад к списку портфолио</a>
{% endblock %}