{% extends 'layouts/base.twig' %}

{% block content %}
<div class="not-found-container">
    <h2>Ошибка 404 | Страница не найдена</h2>
    <p>К сожалению, запрашиваемая страница не существует.</p>
    <p><a href="/" class="btn-primary">Вернуться на главную</a></p>
</div>
{% endblock %}