{% extends 'layouts/base.twig' %}

{% block content %}
<h1>Контакты</h1>
<p>Свяжитесь с нами по телефону или электронной почте.</p>
<ul>
    <li>Email: info@yourdomain.com</li>
    <li>Телефон: +7 (999) 123-45-67</li>
</ul>
{% endblock %}